{{ define "main" }}
<div class="posts">
  <div class="thumbs">
    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" "graphs") 9}}

    {{ range $paginator.Pages }}
      <a class="hidden-link" href="{{.RelPermalink}}">
        <div class="img-outer thumbnail-outer">
          <div class="hover-highlight thumbnail">
            <img src="{{ .Params.Image | absURL }}">
            <div class="thumb-label">{{ .Params.Title }}</div>
          </div>
        </div>
      </a>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
</div>
{{ end }}
