<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  <script src="https://kit.fontawesome.com/5063c00b10.js"></script>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="">

{{ if .IsHome }}
  <div class="container full">
{{else}}
{{ $container := cond $.Site.Params.FullWidthTheme "container full" (cond $.Site.Params.CenterTheme "container center" "container") }}
<div class="{{- $container -}}">
{{ end }}

  {{if .IsHome }}
    {{ partial "splash-header.html" . }}
  {{ else }}
    {{ partial "header.html" . }}
  {{ end }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{if not .IsHome }}
    {{ block "footer" . }}
      {{ partial "footer.html" . }}
    {{ end }}
  {{ end }}
</div>

</body>
</html>
